@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Source+Sans+Pro:300,400,600);

body{
    font-family: 'Source Sans Pro',sans-serif;
}

.head-band{
    width: 100%;
    padding: 160px 0 120px;
    margin: 0;
    background-image: url(../static/home_head_background.jpg);
    background-size: auto 100%;
    background-position:center center;
}

.head-band h1{
    text-align: center;
    color: white;
}

.navbar_web{
    background-color: #f3f3f3;
    padding: 20px 0;
    text-align: center;
}

.navbar_web .navbar_content{
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navbar_web .navbar_content li {
    display: inline-block;
    color: #555;
}
.navbar_web .navbar_content li.focusing a{
    font-weight: bold;
    pointer-events: none;
}

.navbar_web .navbar_content li a {
    color: inherit;
    text-align: center;
}

.navbar_web .navbar_content li:nth-child(n+2)::before {
    padding: 0 10px;
    color: #ccc;
    content: "|";
}

.thumbnail-news{
    height: 189.6px;
    cursor: pointer;
    transition: all 400ms ease;
}
.thumbnail-news:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
    border-color: #fff;
}

.thumbnail-news img{
    padding: 0;
    height: 180px;
    position: absolute;
    vertical-align:top;
    width: 320px;
}

.thumbnail-news .caption{
    overflow: hidden;
    margin-left: 320px;
    height: 100%;
    padding-left: 3%;
}

.thumbnail-news .caption h3{
    margin: 3px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
}
.thumbnail-news .caption .caption-title{
    white-space: nowrap;
}
.thumbnail-news .caption hr{
    margin-top: 10px;
}
.text-overflow::after{
    content: '...';
}
.text-overflow p {
    margin: 0 0 10px;
    max-height: 5.6em;
    display: block;
    overflow: hidden;
    margin: 0;
    pointer-events: none;
}

.cut-bar{
    position: relative;
    padding: 10px 0;
}
.cut-bar hr{
    width: 80%;
}
.cut-bar span{
    color: #888;
    position: absolute;
    top: 20px;
    background-color: #fff;
    padding: 0 10px;
    right: 50%;
    margin-right: -75px;
    pointer-events: none;
    width: 150px;
    text-align: center;
}

.link-big{
    font-size: 120%;
    padding:20px 0;
    cursor: pointer;
}
.link-big a,.link-big a:hover,.link-big a:focus{
    text-decoration: none;
}
.text-right{
    text-align: right;
}

.footer{
    margin-top: 40px;
}

.wrap > .container{
    padding-top: 40px;
}

.back-to-top,.fav-icon{
    position: fixed;
    right: 0;
    bottom: 100px;
    padding: 7px 12px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 160%;
    margin-right: 5px;
    transition: all 300ms ease;
    opacity: 1;
    cursor: pointer;
}
.fav-icon{
    bottom: 150px;
}
.back-to-top:hover,.fav-icon:hover{
    background-color: rgba(0,0,0,0.4);
    color: white;
}
.invalidate {
    opacity: 0;
    pointer-events: none;
}

.knockout-match{
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.knockout-match img.bg{
    width: 100%;
    height: auto;
    zoom: 0;
}
.knockout-match ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

.wc-hd{
    position: relative;
    padding-top: 20px;
}
.wc-hd span{
    position: absolute;
    bottom: -2px;
    font-size: 150%;
    display: inline-block;
}
.wc-hd span::before{
    content: ' ';
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #eaaf11;
    margin-right: 5px;
    margin-bottom: -2px;
}
.wrap-team-icon{
    text-align: center;
    cursor: pointer;
    display: block;
}
.wc-team-icon:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.wc-team-icon{
    padding: 10px 25px 5px;
    display: inline-block;
    border-radius: 3px;
}
.wc-team-icon .caption p{
    margin: 0;
    color: #337ab7;
    white-space: nowrap;
}
.wc-team-icon:hover .caption p{
    text-decoration: underline;
}

.page-head-div {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #e7eaf0;
}

.page-head-wrap::before {
    top: 0;
    right: 0;
    z-index: -1;
    content: "";
    bottom: auto;
    height: 100%;
    width: 2000%;
    position: absolute;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    background-color: #ffbe00;
}

.page-head-wrap {
    z-index: 1;
    float: left;
    width: auto;
    color: #fff;
    font-size: 20px;
    position: relative;
    line-height: normal;
    text-transform: uppercase;
    padding: 11px 35px 12px 20px;
}
/** Created by wzz 1610652 18/7/29
* css for the relative passages in passage/view/
* thumbnail-relpassage, .reply-%, .passageMsg
 */
.thumbnail-relpassage{
    height: 94.8px;
    cursor: pointer;
    transition: all 400ms ease;
}
.thumbnail-relpassage:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px;
    border-color: #fff;
}

.thumbnail-relpassage img{
    padding: 0;
    height: 85px;
    position: absolute;
    vertical-align:top;
    width: 140px;
}

.thumbnail-relpassage .caption{
    overflow: hidden;
    margin-left: 140px;
    height: 100%;
    padding-left: 3%;
}

.thumbnail-relpassage .caption h3{
    margin: 3px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
}
.thumbnail-relpassage .caption .caption-title{
    white-space: nowrap;
}
.thumbnail-relpassage .caption hr{
    margin-top: 5px;
}
.reply-body{
    padding: 10px 32px;
}
.reply-content{
    padding:2px 5px;
}
.reply-content p{
    display: inline-block;
    color: #99a1a7;
    font-size: 12px;
}

.reply-content span{
    display: block;
}
.passage-msg p{
    display:inline-block;
    margin-right:10px;
}

.page-head-border{
    width: 100%;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #d7d8d8;
}

.table{
    margin:0;
}

.select-wrap{
    width: 70%;
    margin: auto;
    border: 2px solid #ffbe00;
    color: #ffbe00;
    position: relative;
    cursor: pointer;
}
.select-wrap .select-option {
    padding: 5px 0;
    display: inline-block;
    text-align: center;
    font-size: 130%;
    width: 50%;
    position: relative;
    transition: all 200ms ease;
}
.select-wrap .op1 .select-option:nth-child(1),
.select-wrap .op2 .select-option:nth-child(2) {
    color: #fff;
}
.select-wrap .op1 .select-option:nth-child(2),
.select-wrap .op2 .select-option:nth-child(1) {
    color: #ffbe00;
}
.select-wrap .op1-temp .select-option:nth-child(1),
.select-wrap .op2-temp .select-option:nth-child(2) {
    color: #fff;
}
.select-wrap .op1-temp .select-option:nth-child(2),
.select-wrap .op2-temp .select-option:nth-child(1) {
    color: #ffbe00;
}
.select-wrap .bg{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #ffbe00;
    transition: left 300ms ease;
    z-index: -1;
}
.select-wrap .op1 .bg{
    left: 0;
}
.select-wrap .op2 .bg{
    left: 50%;
}
.select-wrap .op1-temp .bg {
    left: 0;
}
.select-wrap .op2-temp .bg {
    left: 50%;
}
.select-wrap .cut{
    height: 100%;
    width: 2px;
    position: absolute;
    background: #fff;
    left: 50%;
}

.team-info .text .counter{
    display: block;
    font-size: 150%;
}
.team-info .text .tag {
    color: #888;
    padding-bottom: 20px;
    display: block;
}
.team-flag{
    text-align: center;
}
.team-flag img{
    height: 190px;
    width: 190px;
    margin: 10px 0;
    border: 1px solid #bbb;
}
.team-name{
    margin: 10px 0;
    text-align: center;
}

.page-wrap{
    padding: 10px;
}

.padding-none{
    padding: 0;
}
.margin-none{
    margin: 0;
}
.text-center{
    text-align: center;
}

/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
    .thumbnail-news .caption {
        margin-left: 0;
        padding-left: 9px;
    }
    .select-wrap{
        width: 100%;
    }
}


/* 小屏幕（平板，大于等于 768px） */

@media (min-width: 768px) {
}

/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (min-width: 992px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */

@media (min-width: 1200px) {

}