.head-band{
    width: 100%;
    padding: 160px 0 120px;
    margin: 0;
    background-image: url(../static/home_head_background.png)
}

.head-band h1{
    text-align: center;
    color: white;
}

.navbar_web{
    background-color: #f3f3f3;
    padding: 20px 0;
    text-align: center;
}

.navbar_web .navbar_content{
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navbar_web .navbar_content li {
    display: inline-block;
    color: #555;
}
.navbar_web .navbar_content li.focusing a{
    font-weight: bold;
    pointer-events: none;
}

.navbar_web .navbar_content li a {
    color: inherit;
    text-align: center;
}

.navbar_web .navbar_content li:nth-child(n+2)::before {
    padding: 0 10px;
    color: #ccc;
    content: "|";
}

.thumbnail{
    height: 189.6px;
    cursor: pointer;
    transition: all 400ms ease;
}
.thumbnail:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
    border-color: #fff;
}

.thumbnail img{
    padding: 0;
    height: 180px;
    position: absolute;
    vertical-align:top;
    width: 320px;
}

.thumbnail .caption{
    overflow: hidden;
    margin-left: 320px;
    height: 100%;
    padding-left: 3%;
}

.thumbnail .caption h3{
    margin: 3px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
}
.thumbnail .caption .caption-title{
    white-space: nowrap;
}
.thumbnail .caption hr{
    margin-top: 10px;
}
.text-overflow::after{
    content: '...';
}
.text-overflow p {
    margin: 0 0 10px;
    max-height: 5.6em;
    display: block;
    overflow: hidden;
    margin: 0;
    pointer-events: none;
}

.time-bar{
    position: relative;
    padding: 10px 0;
}
.time-bar hr{
    width: 80%;
}
.time-bar span{
    color: #888;
    position: absolute;
    top: 20px;
    background-color: #fff;
    padding: 0 10px;
    right: 50%;
    margin-right: -72px;
    pointer-events: none;
}

.link-big{
    font-size: 120%;
    padding:20px 0;
    cursor: pointer;
}
.link-big a,.link-big a:hover,.link-big a:focus{
    text-decoration: none;
}
.text-right{
    text-align: right;
}

.footer{
    margin-top: 40px;
}

.wrap > .container{
    padding-top: 40px;
}

/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
    .thumbnail .caption {
        margin-left: 0;
        padding-left: 9px;
    }
}

/* 小屏幕（平板，大于等于 768px） */

@media (min-width: 768px) {
}

/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (min-width: 992px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */

@media (min-width: 1200px) {

}